[submodule "ouster_lidar"]
	path = ouster_lidar
	url = https://github.com/JonasDHomburg/citrack_ouster_ros.git
[submodule "radar_ethernet_ros"]
	path = radar_ethernet_ros
	url = https://git.ks.techfak.uni-bielefeld.de/projects/ki-radar.radar_ros.git
[submodule "vector_field_navigation"]
	path = vector_field_navigation
	url = https://github.com/JonasDHomburg/vector_field_navigation.git
[submodule "amiro_robot"]
	path = amiro_robot
	url = https://github.com/JonasDHomburg/amiro_robot.git
[submodule "rviz_textured_quads"]
	path = rviz_textured_quads
	url = https://github.com/JonasDHomburg/rviz_textured_quads.git
