<?xml version="1.0"?>
<launch>
    <arg name="vector_field_publisher" value="False"/>
    <arg name="single_amiro" value="True"/>

    <arg name="image_width" default="500"/>
    <arg name="image_height" default="500"/>
    <arg name="meter_per_pixel" default="0.006"/>
    <arg name="normalize" default="False"/>

    <!-- Vicon -->
<!--    <include file="$(find citrack_vicon)/citrack_vicon.launch"/>-->

    <!-- Vector Field Navigation -->
    <include file="$(find vector_field_navigation)/launch/transform.launch"/>
    <include file="$(find vector_field_navigation)/launch/image_vectorfield_gridmap.launch">
        <arg name="image_selector" value="False"/>
        <arg name="image_broadcaster" value="True" if="$(arg vector_field_publisher)"/>
    </include>

    <!-- use one of the following -->
    <group if="$(arg single_amiro)">
        <include file="$(find vector_field_navigation)/launch/amiro7_navigation.launch">
            <arg name="image_width" value="$(arg image_width)"/>
            <arg name="image_height" value="$(arg image_height)"/>
            <arg name="meter_per_pixel" value="$(arg meter_per_pixel)"/>
        </include>
    </group>
    <group unless="$(arg single_amiro)">
        <include file="$(find vector_field_navigation)/launch/vf_merged_main_6_7.launch">
            <arg name="image_width" value="$(arg image_width)"/>
            <arg name="image_height" value="$(arg image_height)"/>
            <arg name="meter_per_pixel" value="$(arg meter_per_pixel)"/>
            <arg name="normalize" value="$(arg normalize)"/>
        </include>
    </group>

    <!-- AMiRo bridges -->
    <include file="$(find rsb)/rsb_bridges.launch">
        <arg name="amiroID" value="7"/>
    </include>

    <group unless="$(arg single_amiro)">
        <include file="$(find rsb)/rsb_bridges.launch">
            <arg name="amiroID" value="6"/>
        </include>
    </group>

</launch>
