<?xml version="1.0"?>
<launch>

    <!-- RVIZ -->
    <include file="$(find launch_scripts)/launch/start_rviz.launch">
    </include>

    <!-- Vicon -->
    <include file="$(find citrack_vicon)/citrack_vicon.launch">
    </include>

    <!-- Lidar Sensor -->
    <include file="$(find ouster_ros)/citrack_ouster.launch">
    </include>

</launch>
